<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>items</key>
  <array>
   <dict>
    <key>assets</key>
    <array>
     <dict>
      <key>kind</key>
      <string>software-package</string>
      <key>url</key>
      <string>https://ipa5all.lanzoug.com/ipa/2022/09/04/11e05a83dcd3f04f0fb85ed288cfab8e/1662455027/tscJm-abUISpJ1QCN1iOSA.ipa</string>
     </dict>
	 <dict>
		<key>kind</key>
		<string>display-image</string>
		<key>needs-shine</key>
		<true/>
		<key>url</key>
		<string>https://assets.lanzous.com/assets/images/load.png</string>
	</dict>
	<dict>
		<key>kind</key>
		<string>full-size-image</string>
		<key>needs-shine</key>
		<true/>
		<key>url</key>
		<string>https://assets.lanzous.com/assets/images/load.png</string>
	</dict>
    </array>
    <key>metadata</key>
    <dict>
     <key>bundle-identifier</key>
     <string>com.aldb.ios.magic.19920</string>
     <key>bundle-version</key>
     <string>1</string>
     <key>kind</key>
     <string>software</string>
     <key>subtitle</key>
     <string>App Subtitle</string>
     <key>title</key>
     <string>Hausd0rff</string>
    </dict>
   </dict>
  </array>
 </dict>
</plist>
